---
interface Program {
  duration: string;
  name: string;
  description: string;
}

interface Props {
  programs: Program[];
}

const { programs } = Astro.props;
---

<div class="overflow-x-auto">
  <table class="w-full border-collapse text-sm">
    <thead>
      <tr class="border-b-2 border-[--color-border]">
        <th class="py-3 pr-6 text-left font-semibold text-[--color-text] w-32">Duration</th>
        <th class="py-3 pr-6 text-left font-semibold text-[--color-text] w-40">Programme</th>
        <th class="py-3 text-left font-semibold text-[--color-text]">Description</th>
      </tr>
    </thead>
    <tbody>
      {programs.map((p) => (
        <tr class="border-b border-[--color-border]">
          <td class="py-4 pr-6 font-medium text-[--color-primary] align-top">{p.duration}</td>
          <td class="py-4 pr-6 font-semibold text-[--color-text] align-top">{p.name}</td>
          <td class="py-4 leading-relaxed text-[--color-text-muted] align-top">{p.description}</td>
        </tr>
      ))}
    </tbody>
  </table>
</div>
